*.class
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
naiskoor/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/naiskoor.sublime-project
/naiskoor.sublime-workspace
/naiskoor/grails-app/assets/stylesheets/mainGrails.css
/naiskoor/lib/postgresql-9.3-1102.jdbc41.jar
/naiskoor/web-app/css/main.css
